<footer>
    <ul>
        <li><a href="/etc/brand">회사소개</a></li>
        <li><a href="/etc/servicePolicy">이용약관</a></li>
        <li><a href="/etc/personalPolicy">개인정보처리방침</a></li>
    </ul>
    <div>
        <div>
            <p>RE;CODE</p>
            <p>대표이사 : 이성제 / 개인정보보호책임자 : 김재현 / 사업자등록번호 : 000-00-00000</p>
            <p>통신판매신고번호 : 제2024-부산진구-12345호</p>
            <p>메일 : recode@gmail.com</p>
            <p>주소 : 부산 부산진구 중앙대로 631</p>
        </div>
        <div>
            <p>051-555-1234</p>
            <p>월-금 09:00 - 18:00</p>
            <p>점심 12:30 - 13:30</p>
            <p>토, 일, 공휴일 휴무</p>
        </div>
        <div>
            <img src="/images/logo_img/environment.png">
            <img src="/images/logo_img/busan.png">
            <img src="/images/logo_img/kc.png">
        </div>
    </div>
</footer>