<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RECODE 상품문의 페이지</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/boardCss/queryList.css">
  <link rel="stylesheet" href="/css/scroll.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/header.js"></script>
</head>
<body>

<th:block th:include="layouts/header"></th:block>

<div class="container">
  <div class="content">
    <div class="titleArea">
      <h2>나의문의</h2>
    </div>
    <table>
      <tr th:each="QnA : ${QnAs}">
        <td th:text="${QnAStat.count + (nowPage-1)*10}"></td>
        <td>
          <div>
            <a th:href="@{/user/qna/{id}(id=${QnA.qnAId})}">
              <img class="userProImg" th:src="'http://192.168.106.12/fileServer' + ${QnA.productRepresentativeImgSrc}">
            </a>
          </div>
        </td>
        <td class="txtEm">
          <span th:text="${QnA.qnAAnswer != null? '답변완료' : '미완료'}" th:style="${QnA.qnAAnswer != null ? 'background-color:#548235; color:white;' : 'color:#548235;'}"></span>
        </td>
        <td class="txtEm">
          <a th:href="@{/user/qna/{id}(id=${QnA.qnAId})}" th:text="${QnA.qnAQuestionTitle}"></a>
          <img src="/images/icon_img/lock.png" th:if="${QnA.qnASecret} == 1">
        </td>
        <td></td>
        <td th:text="${#temporals.format(QnA.qnACreateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${QnA.qnAViews}"></td>
        <td>
      </tr>
    </table>
    <div id="pageBox">
      <a th:href="${QnAs.hasPrevious() ? '/user/qna/list?page=' + (nowPage-2) : 'javascript:void(0)'}" th:style="${QnAs.hasPrevious() ? '' : 'color:#ccc'}">〈</a>
      <a th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:href="${page == nowPage ? 'javascript:void(0)' : '/user/qna/list?page=' + (page - 1)}" th:style="${page == nowPage ? 'background-color: #548235; color: white;' : '' }"></a>
      <a th:href="${QnAs.hasNext() ? '/user/qna/list?page=' + nowPage : 'javascript:void(0)'}" th:style="${QnAs.hasNext() ? '' : 'color:#ccc'}">〉</a>
    </div>
  </div>
</div>
<th:block th:include="layouts/footer"></th:block>
<th:block th:include="layouts/scroll"></th:block>
<script src="/js/scroll.js"></script>
</body>
</html>
