<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECODE 사용후기 페이지</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/boardCss/reViewList.css">
    <link rel="stylesheet" href="/css/scroll.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/header.js"></script>
</head>

<body>
<th:block th:include="layouts/header"></th:block>
<div class="container">
    <div class="content">
        <div class="titleArea">
            <h2>사용후기</h2>
        </div>
        <table id="userReviewList">
            <tr th:each="review : ${reviews}">
                <td th:text="${reviewStat.count + (nowPage-1)*10}"></td>
                <td>
                    <div>
                        <a th:href="@{/community/review/{id}(id=${review.reviewId})}">
                            <img class="reviewImg" th:src="${review.reviewImgSrc != null ? 'http://192.168.106.12/fileServer' + review.reviewImgSrc : ''}">
                        </a>
                    </div>
                </td>
                <td class="txtEm">
                    <a th:href="@{/community/review/{id}(id=${review.reviewId})}" th:text="${review.reviewTitle}"></a>
                </td>
                <td th:text="${review.username}"></td>
                <td th:text="${#temporals.format(review.reviewCreateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <div class="star-rating">
                        <label th:each="star : ${#numbers.sequence(1, 5)}"
                               th:classappend="${star <= review.reviewScore} ? 'red' : ''"></label>
                    </div>
                </td>
                <td th:text="${review.reviewViews}"></td>
            </tr>
        </table>
        <div id="pageBox">
            <a th:href="${reviews.hasPrevious() ? '/community/review/list?page=' + (nowPage-2) : 'javascript:void(0)'}" th:style="${reviews.hasPrevious() ? '' : 'color:#ccc'}">〈</a>
            <a th:each="page : ${#numbers.sequence(startPage, endPage)}" th:text="${page}" th:href="${page == nowPage ? 'javascript:void(0)' : '/community/review/list?page=' + (page - 1)}" th:style="${page == nowPage ? 'background-color: #548235; color: white;' : '' }"></a>
            <a th:href="${reviews.hasNext() ? '/community/review/list?page=' + nowPage : 'javascript:void(0)'}" th:style="${reviews.hasNext() ? '' : 'color:#ccc'}">〉</a>
        </div>
    </div>
</div>
<th:block th:include="layouts/footer"></th:block>
<th:block th:include="layouts/scroll"></th:block>
<script src="/js/scroll.js"></script>

</body>
</html>
