/* footer css */
footer {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0 100px;
    border-top: 1px solid black;
}
footer > ul { /* 회사소개, 이용약관, 개인정보처리방침 ul */
    list-style: none;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer > ul li {
    display: inline-block;
    margin-right: 40px;
}
footer > ul li a {
    text-decoration: none;
    color: black;
}
footer > div > div {
    display: inline-block;
    vertical-align: top;
}
footer > div > div:not(:last-child) {
    margin-right: 124px;
}
footer > div > div:not(:last-child) > p {
    padding: 7px 0;
}
footer > div > div:not(:last-child) > p:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
footer > div > div:last-child {
    margin-top: 50px;
}
footer > div > div:last-child > img:nth-child(1) {
    height: 68px;
    vertical-align: middle;
    margin-right: 30px;
}
footer > div > div:last-child > img:nth-child(2) {
    height: 55px;
    vertical-align: middle;
    margin-right: 30px;
}
footer > div > div:last-child > img:nth-child(3) {
    height: 60px;
    vertical-align: middle;
}